__pycache__/*
venv/
colors.scheme.xml
databaseDrivers.xml
debugger.xml
editor.codeinsight.xml
filetypes.xml
find.xml
github.xml
ide.general.xml
project.default.xml
vcs.xml
wsl.distributions.xml
_windows
codestyles