{% extends "main.html" %}

{% block content %}
{% if user.is_staff %}
<div class="jumbotron">
    <h1>Предметная область</h1>
    <p>Здесь вы можете добавить преметную область и назначить ее соответсвующим пользователям. При клике на название предметной области открывается окно для редактирования. </p>
    <p><a class="btn btn-primary " href="{% url 'post_domain' %}" role="button"><i class="material-icons left"></i> Добавить</a>
</p>
</div>
{% if domain_list %}        
      
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>Название</th>
                  <th>Пользователи</th>
                </tr>
              </thead>
              <tbody>
              {% for domain in domain_list %}
                <tr>
                <td>{{domain.id}}</td>
                <td><a class="btn btn-link" href="{% url 'edit_domain' pk=domain.pk %}">{{ domain.name }}</a></td>
                  
                <td><ol>{% for user in domain.user.all%}
                <li>{{user}}</li>
                {% endfor %}</ol></td>
                  
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>   
</div>
</div>
 
{% endif %}      
{%else%}    
     <p>У вас нет прав доступа к этой странице.</p>
     <p><a href="{% url 'login'%}?next={{request.path}}">Войти с правами суперпользователя</a></p>
     <p><a href="{% url 'index'%}">Вернуться</a></p>
{% endif %}       
{% endblock %}