{% extends "main.html" %}

{% block content %}
{% if user.is_staff %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Область знаний</h1>
      </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href = "{% url 'post_relation' %}">Добавить</a>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-university fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>

{% if domain_list %}        
      
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Область знаний</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                <tr>
                  <th></th>
                  <th>Название</th>
                  <th>Пользователи</th>
                </tr>
              </thead>
              <tbody>
              {% for domain in domain_list %}
                <tr>
                <td>{{domain.id}}</td>
                <td><a class="btn btn-link" href="{% url 'edit_domain' pk=domain.pk %}">{{ domain.name }}</a></td>
                  
                <td><ol>{% for user in domain.user.all%}
                <li>{{user}}</li>
                {% endfor %}</ol></td>
                  
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>   
</div>
</div>
 
{% endif %}      
{%else%}    
     <p>У вас нет прав доступа к этой странице.</p>
     <p><a href="{% url 'login'%}?next={{request.path}}">Войти с правами суперпользователя</a></p>
     <p><a href="{% url 'index'%}">Вернуться</a></p>
{% endif %}       
{% endblock %}