{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% if items_list %} 
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Элементы РПД</h1>
      </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Загрузить</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">TXT
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-download fa-2x text-gray-300" data-toggle="modal" data-target="#TxtModal"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Загрузить</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">JSON</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-download fa-2x text-gray-300" data-toggle="modal" data-target="#JsonModal"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Добавить</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><a href="{% url 'post_items' %}">Элементы</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>
<div class="modal fade" id="TxtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TxtModalLabel">Загрузите файл с ключевыми словами</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Выбирите предметную область, затем загрузите файл c расширением .txt.<br><b>Формат загружаемого файла:</b>
              <br>Ключевое слово (дисциплина)
              <br>Ключевое слово (раздел 1)
              <br>Ключевое слово (тема 1.1), Ключевое слово (тема 1.2), Ключевое слово (тема 1.3), ... 
              <br>Ключевое слово (раздел 2) 
              <br>Ключевое слово (тема 2.1), Ключевое слово (тема 2.2), Ключевое слово (тема 2.3), ...
        <form action="/upload/" method="POST" enctype="multipart/form-data" role="form">
       {% csrf_token %}

        <select name = 'domain' class="selectpicker" data-live-search="true" id="DomainSelect">
        {% for domain in domain_list %}
        <option>{{domain.name}}</option>
        {% endfor %}
        </select>
        <br>
         <label for="file"></label>
         <input type="file" name="file" id="file" class="form-control" data-filename-placement="inside" title="Выбрать файл" />  
      </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" name="submit">Отправить</button>
        </div>
        </form> 
      </div>
    </div>
  </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Элементы РПД</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                <tr>
                  <th>Название</th>
                  <th>Область</th>
                  <th>Важность</th>
                  <th>Автор</th>
                </tr>
              </thead>
              <tbody>
              <div class="form-check">
              {% for item in items_list %}  
              {% for user in item.domain.user.all %} 
                {% if user == request.user %} 
                <tr>
                <td><a class="btn btn-link" href="{% url 'details' pk=item.pk %}">{{ item.name }}</a></td>
                 <td>{{item.domain}}</td>
                 <td>{{item.value}}</td>
                 <td>{{item.author.get_full_name}}</td>
                 <td><a class="btn btn-default" href="{% url 'items_delete' pk=item.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
              </tbody>

              {%endif%}              
              {% endfor %}
    {% endfor %}
            </table>
          </div>   
</div>
</div>
{% endif %}
{%else%}    
     <p>Войдите или зарегестрируйтесь, чтобы увидеть эту страницу.</p>
     <p><a href="{% url 'login'%}?next={{request.path}}">Войти</a></p>  
     <p><a href="{% url 'register' %}">Зарегестрироваться</a></p>   
{% endif %}        
{% endblock %}