{% extends "main.html" %}

{% block content %}
{% if user.is_authenticated %}
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Связи</h1>
      </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Добавить тип связи между учебными сущностями -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Добавить</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href = "{% url 'post_relation' %}">Связь между учебными сущностями</a>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--  Добавить иерархическую связь 
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Добавить связь</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="#">Иерархия</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
            <!-- Earnings (Monthly) Card Example 
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Добавить связь</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><a href="#">Пререквизит</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          -->
</div>

{% if relation_list %}        
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Связи</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                <tr>
                  <th>Элемент РПД</th>
                  <th>Связь</th>
                  <th>Элемент РПД</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for rel in relation_list %}
                <tr>
                <td><a class="btn btn-default" href="{% url 'details' pk=rel.item1.pk %}">{{rel.item1}}</a></td>
                <td>{{rel.get_relation_display}}</td>
                <td><ol>{% for item in rel.item2.all %}
                <li>{{item}}</li>
                {% endfor %}</ol></td>
                <td><a class="btn btn-link" href="{% url 'edit_relation' pk=rel.pk %}">Редактировать</a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>   
</div>
</div>
 
{% endif %}     
{%else%} 
    <p>У вас нет доступа к этой странице. Обратитесь к администратору</p>
    <li><a href="{% url 'index'%}">Вернуться</a></li>      
{% endif %}       
{% endblock %}